<div style="text-align:left">
  <p>
    This is an online language detector tool.
  </p>
</div>
<div>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field [style.columnWidth.px]=500>
      <textarea required [(ngModel)]=" sentence" name="sentence" matInput [style.height.px]="200"></textarea>
    </mat-form-field>
    <br>
    <p>
      <button mat-raised-button type="submit">Detect</button> &nbsp;
    </p>
  </form>
  <button mat-raised-button (click)="myForm.reset(); resultReset()">Reset</button>
</div>
<div>
  <p>Prediction: {{result}}</p>
</div>
<br>
<div>
  <mat-card>
    <mat-card-subtitle>Notes:</mat-card-subtitle>
    <mat-card-subtitle>* The longer the text the more accurate the prediction will be.</mat-card-subtitle>
    <mat-card-subtitle>* This is a development zone. Currently, the following languages are supported:</mat-card-subtitle>
    <mat-card-subtitle>* {{languages}}</mat-card-subtitle>
    <mat-card-subtitle><a href="https://github.com/sh-shmss/ml-deployment">Source code </a> </mat-card-subtitle>

  </mat-card>
</div>
<router-outlet></router-outlet>
